html,body{
    margin: 0;
    padding: 0;
    background-color: aqua;
    div{
        width: 200px;
        height: 200px;
        background-color: azure;
        background: url("../images/IMG_2423.JPG")
    }
    li{
        font-size: 20px;
        line-height: 30px;
    }
}